.body{
    /* background-color: lavenderblush; */
    font-family: 'Barlow', sans-serif;
}

.brandname{
    font-family: 'Courgette', cursive;
}

a:hover {
    color: tomato;
    font-weight: bolder;
}

.bg-color{
    background: midnightblue;
}
.small-div{
    width:300px;
    height: 500px;
    background: midnightblue;
}

img[alt="still loading"]{
    width:300px;
    height: 300px;

}
.text-bold{
    font-weight: bold;
}

.profile-name{
        font-family: 'Fira Sans', sans-serif;
        font-size: 35px;
}

.profession{
    font-weight: 800;
}

.personal-info{
    line-height: 5px;
    font-size: 2rem;
}

div h4{
    font-size: 20px;
    line-height: 25px;
}


.big-div{
    background-color: lavenderblush;
    color: midnightblue;
}

.circle{
    width:100px;
    height: 100px;
    border-radius: 50%;
}

.shape1{
    position: absolute;
    top: 336px;
    left: 119px;
}
.shape2{
    position: absolute;
    top: 336px;
    left: 527px;
}
.small{
    background-color: lavenderblush;
    transform: scale(0.5);
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 60
    ;
}

.medium{
    background-color: rgba(161, 152, 152, 0.253);
    transform: scale(0.8);
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 30;
    border: 1px solid midnightblue;
}


.large{
    background-color: rgba(161, 152, 152, 0.253);
    transform: scale(1.0);
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
}

.number1{
    top: 424px;
    position: absolute;
    left: 203px;
    z-index: 80;
}
.number2{
    top: 424px;
    position: absolute;
    left: 610px;
    z-index: 80;
}

.shape-position{
    top: -324px;
}

.narration1{
    top: 497px;
    position: absolute;
    left: 124px;
}
.narration2{
    top: 503px;
    position: absolute;
    left: 534px;
    width: 202px;
}